.footer
    background #000000

    &__container
        display flex
        justify-content space-between
        margin 0 auto
        padding 25px 0
        max-width 1200px
        @media (max-width 1200px)
            padding 25px 15px
        @media (max-width 991px)
            flex-direction column
    &__box
        flex 0 100%

    &__contact
        display flex
        flex-direction column
        justify-content center
        align-items center
        gap 25px

        @media (max-width 991px)
            padding 30px 0

    &__partners
        display flex
        justify-content right
        align-items center

        @media (max-width 991px)
            justify-content center

    &__title
        position relative
        margin-bottom 37px
        color #FFFFFF
        font-weight 700
        font-size 20px
        line-height 27px

        &:after
            position absolute
            bottom -15px
            left 0
            width 45px
            height 5px
            background #fff
            content ''

    &__text
        display block
        padding-bottom 10px
        color #FFFFFF
        font-weight 400
        font-size 13px
        line-height 12px

    &__link
        text-decoration none
        transition all 0.2s ease-in-out

        &:hover
            color #f8475f

    &__button
        display flex
        justify-content center
        align-items center
        width 195px
        height 38px
        border-radius 5px
        background #fff
        text-decoration none
        transition all 0.2s ease-in-out
        gap 15px

        &:hover
            background #f8475f

            p
                color #fff

            svg
                fill #fff

        svg
            transition all 0.2s ease-in-out
            fill #000

        p
            max-width 120px
            color #000000
            font-weight 600
            font-size 12px
            line-height 100%
            transition all 0.2s ease-in-out

    &__partner
        color #FFFFFF
        text-decoration none
        font-weight 400
        font-size 10.6017px
        line-height 14px

        &:last-child
            margin-left 30px

    &__developer
        display flex
        justify-content center
        align-items center
        border-top 1px solid #282828

        p
            padding 20px 0
            color #fff
            font-weight 600
            font-size 10px
            line-height 100%

        a
            color #fff
            font-weight 600
            font-size 11px
            line-height 100%
            transition all 0.2s ease-in-out

            &:hover
                color #f8475f